*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef3f8;
}

header{
    background:#05164d;
    color:white;
    text-align:center;
    padding:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.logo{
    font-size:34px;
    font-weight:bold;
}

.subtitle{
    margin-top:10px;
    font-size:18px;
}

.container{
    width:95%;
    max-width:1200px;
    margin:30px auto;
}

.searchBox{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:25px;
}

#searchBox{
    width:450px;
    padding:14px;
    font-size:16px;
    border:2px solid #003b7a;
    border-radius:8px;
}

button{
    background:#003b7a;
    color:white;
    border:none;
    padding:14px 22px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#0056b3;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    margin-bottom:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:220px;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.card h3{
    color:#003b7a;
    margin-bottom:10px;
}

.card p{
    font-size:28px;
    font-weight:bold;
}

h2{
    text-align:center;
    margin:20px 0;
    color:#003b7a;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

th{
    background:#003b7a;
    color:white;
    padding:14px;
}

td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

tr:nth-child(even){
    background:#f5f7fb;
}

#adminBtn{
    display:block;
    margin:30px auto;
}
#cupboardContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin:20px 0;
}

.cupboard-btn{
    background:#05164d;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
}

.cupboard-btn:hover{
    background:#0b2d8c;
}